
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* Base
======================================================= */

html{ 
  font-size: 16px;
}

body{
  text-align: center;
  width: 100%;
  margin:0 auto;
}

h1, h2, h3, h4, h5, h6, label, a { font-family: 'Josefin Slab', serif; font-weight: 400; }

::selection { background:#FF5E99; color:#fff; } /* Safari */ 

::-moz-selection { background: #FF5E99; } /* Firefox */ 

a { text-decoration: none; color:#444; }

a:hover { text-decoration: none; }

header{
  background-color: lightblue;
}

header nav {
  background-color: lightpink;
}

.container{
  background-color: red;
  padding: 0;
}

.logo{
  background-color: cyan;
}
.search{
  background-color: magenta;
}


/* *---------->>> _FORMS <<<-----------*/
footer{
  background-color:lightgreen;
}
