!!!
%html 
  %head
    %title The HearUs Project
    %link(rel="stylesheet" href="stylesheets/normalize.css")
    %link(rel="stylesheet" href="stylesheets/style.css")
    %script{src: "https://www.google.com/jsapi", type: "text/javascript"}
    %meta{content: "authenticity_token", name: "csrf-param"}
    %meta{content: "ZeSoxgtdnhrnPW/EeD+Bg2J1jxXgjDUzvx/E4z4Bwok=", name: "csrf-token"}
  %body{class: page_classes}
    %section.container
      %header
        %h1 HearUs
        %nav
          .logbar
            %a{} Register
            %a{} Login
            %a{} About
            %a{} Mission
      = yield

      %footer
        .privacy-policy
          %span
            %a{href: "#"} privacy policy