%ul.bill-search
  %section.bill
    %h3
      %a{href: "/bill1.html"} Combating Designer Drugs Act of 2011
    %span.number Senate Bill: s839-112
    %li 
      %h4 A bill to ban the sale of certain synthetic drugs.
    %li.summary 
      %p Combating Designer Drugs Act of 2011 - Amends the Controlled Substances Act to include as a Schedule I controlled substance any material, compound, mixture, or preparation which contains: ...
      / 2-(2,5-Dimethoxy-4-ethylphenyl)ethanamine(2C-E); 2-(2,5-Dimethoxy-4-methylphenyl)ethanamine (2C-D); 2-(4-Chloro-2,5-dimethoxyphenyl)ethanamine (2C-C); 2-(4-Iodo-2,5-dimethoxyphenyl)ethanamine (2C-I); 2-[4-(Ethylthio)-2,5-dimethoxyphenyl]ethanamine (2C-T-2); 2-[4-(Isopropylthio)-2,5-dimethoxyphenyl]ethanamine (2C-T-4); 2-(2,5-Dimethoxyphenyl)ethanamine (2C-H); 2-(2,5-Dimethoxy-4-nitro-phenyl)ethanamine (2C-N); or 2-(2,5-Dimethoxy-4-(n)-propylphenyl)ethanamine (2C-P).
    %a.open-congress{href: "http://www.opencongress.org/bill/112-s839/show", target: "_blank"} OpenCongress
    %hr
    / all available fields, note that on some of these fields may be blank depending on the billd
  %section.bill
    %h3
      %a{href: "/bill2.html"} S.A.F.E. Compounded Drugs Act of 2012
    %span.number House Bill: hr6638-112
    %li 
      %h4 To amend chapter V of the Federal Food, Drug, and Cosmetic Act to enhance the requirements for pharmacies that compound drug products.
    %li.summary No summary available
    %a.open-congress{href: "http://www.opencongress.org/bill/112-h6638/show", target: "_blank"} OpenCongress
    %hr
    / all available fields, note that on some of these fields may be blank depending on the bill
