%div
  %h5
    %a{href: "/districts/151"} Back to District
  %h4 Title: S.A.F.E. Compounded Drugs Act of 2012
  %h5 Introduced:
  %h5
    Sponsored By:
    %a{href: "/districts/hr6638-112?bioguide_id=D000216"} Representative Rosa DeLauro
  %h5 Keywords:
  .keywords
    %ul
      %li
        %a{href: "/bills/find?search=Administrative+law+and+regulatory+procedures"} Administrative law and regulatory procedures &#183;
      %li
        %a{href: "/bills/find?search=Advisory+bodies"} Advisory bodies &#183;
      %li
        %a{href: "/bills/find?search=Congressional+oversight"} Congressional oversight &#183;
      %li
        %a{href: "/bills/find?search=Consumer+affairs"} Consumer affairs &#183;
      %li
        %a{href: "/bills/find?search=Department+of+Health+and+Human+Services"} Department of Health and Human Services &#183;
      %li
        %a{href: "/bills/find?search=Drug+safety%2C+medical+device%2C+and+laboratory+regulation"} Drug safety, medical device, and laboratory regulation &#183;
      %li
        %a{href: "/bills/find?search=Food+and+Drug+Administration+%28FDA%29"} Food and Drug Administration (FDA) &#183;
      %li
        %a{href: "/bills/find?search=Fraud+offenses+and+financial+crimes"} Fraud offenses and financial crimes &#183;
      %li
        %a{href: "/bills/find?search=Government+information+and+archives"} Government information and archives &#183;
      %li
        %a{href: "/bills/find?search=Government+studies+and+investigations"} Government studies and investigations &#183;
      %li
        %a{href: "/bills/find?search=Health"} Health &#183;
      %li
        %a{href: "/bills/find?search=Health+information+and+medical+records"} Health information and medical records &#183;
      %li
        %a{href: "/bills/find?search=Licensing+and+registrations"} Licensing and registrations &#183;
      %li
        %a{href: "/bills/find?search=Medicaid"} Medicaid &#183;
      %li
        %a{href: "/bills/find?search=Medicare"} Medicare &#183;
      %li
        %a{href: "/bills/find?search=Prescription+drugs"} Prescription drugs &#183;
      %li
        %a{href: "/bills/find?search=State+and+local+government+operations"} State and local government operations &#183;
      %li
        %a{href: "/bills/find?search=Veterans%27+medical+care"} Veterans' medical care
  %h5 Sources:
  .sources
    %ul
      %li
        %a{href: "http://www.gpo.gov/fdsys/pkg/BILLS-112hr6638ih/pdf/BILLS-112hr6638ih.pdf", target: "_blank"} PDF View &#183;
      %li
        %a{href: "http://beta.congress.gov/bill/112th/house-bill/6638", target: "_blank"} Congress &#183;
      %li
        %a{href: "http://www.govtrack.us/congress/bills/112/hr6638", target: "_blank"} Govtrack &#183;
      %li
        %a{href: "http://www.opencongress.org/bill/112-h6638/show", target: "_blank"} Opencongress
  %h5 Legislative History:
  .legis-history 
    %ul
      %li Active: False &#183; 
      %li Awaiting Signature: False &#183;
      %li Enacted: False &#183;
      %li Vetoed: False
  %h5 Related Bills:
  %ul
  %ul
    %li
    %li House
