%div
  %h5
    %a{href: "/districts/151"} Back to District
  %a.start-bill-tour{href: "#"}
    %span.icon-stack
      %i.icon-circle-blank.icon-stack-base
      %i.icon-question
  %h4 Title: Combating Designer Drugs Act of 2011
  %h5 Introduced:
  %h5
    Sponsored By:
    %a{href: "/districts/s839-112?bioguide_id=K000367"} Senator Amy Klobuchar
  %h5 Keywords:
  .keywords
    %ul
      %li
        %a{href: "/bills/find?search=Crime+and+law+enforcement"} Crime and law enforcement  &#183;
      %li
        %a{href: "/bills/find?search=Drug+trafficking+and+controlled+substances"} Drug trafficking and controlled substances
  %h5 Sources:
  .sources
    %ul
      %li
        %a{href: "http://www.gpo.gov/fdsys/pkg/BILLS-112s839rs/pdf/BILLS-112s839rs.pdf", target: "_blank"} PDF View  &#183;
      %li
        %a{href: "http://beta.congress.gov/bill/112th/senate-bill/839", target: "_blank"} Congress  &#183;
      %li
        %a{href: "http://www.govtrack.us/congress/bills/112/s839", target: "_blank"} Govtrack  &#183;
      %li
        %a{href: "http://www.opencongress.org/bill/112-s839/show", target: "_blank"} Opencongress
  %h5 Legislative History:
  .legis-history
    %ul
      %li Active: True  &#183;
      %li Active At: 2011-07-28  &#183;
      %li Awaiting Signature: False  &#183;
      %li Enacted: False  &#183;
      %li Vetoed: False
  %h5 Related Bills:
  %ul
  %ul
    %li
      Combating Designer Drugs Act of 2011 - Amends the Controlled Substances Act to include as a Schedule I controlled substance any material, compound, mixture, or preparation which contains: ...
    %li Senate
%div
  %ul