%ul.bill-search
  %section.bill
    %h3
      %a{href: "/bills/s839-112"} Combating Designer Drugs Act of 2011
    %span.number Senate Bill: s839-112
    %li A bill to ban the sale of certain synthetic drugs.
    %li.summary Combating Designer Drugs Act of 2011 - Amends the Controlled Substances Act to include as a Schedule I controlled substance any material, compound, mixture, or preparation which contains: 2-(2,5-Dimethoxy-4-ethylphenyl)ethanamine (2C-E); 2-(2,5-Dimethoxy-4-methylphenyl)ethanamine (2C-D); 2-(4-Chloro-2,5-dimethoxyphenyl)ethanamine (2C-C); 2-(4-Iodo-2,5-dimethoxyphenyl)ethanamine (2C-I); 2-[4-(Ethylthio)-2,5-dimethoxyphenyl]ethanamine (2C-T-2); 2-[4-(Isopropylthio)-2,5-dimethoxyphenyl]ethanamine (2C-T-4); 2-(2,5-Dimethoxyphenyl)ethanamine (2C-H); 2-(2,5-Dimethoxy-4-nitro-phenyl)ethanamine (2C-N); or 2-(2,5-Dimethoxy-4-(n)-propylphenyl)ethanamine (2C-P).
    %a.open-congress{href: "http://www.opencongress.org/bill/112-s839/show", target: "_blank"} OpenCongress
    %br/
    / all available fields, note that on some of these fields may be blank depending on the billd
  %section.bill
    %h3
      %a{href: "/bills/hr6638-112"} S.A.F.E. Compounded Drugs Act of 2012
    %span.number House Bill: hr6638-112
    %li To amend chapter V of the Federal Food, Drug, and Cosmetic Act to enhance the requirements for pharmacies that compound drug products.
    %li.summary No summary available
    %a.open-congress{href: "http://www.opencongress.org/bill/112-h6638/show", target: "_blank"} OpenCongress
    %br/
    / all available fields, note that on some of these fields may be blank depending on the bill
  %section.bill
    %h3
      %a{href: "/bills/s3415-111"} Fair Pricing for Prescription Drugs Act
    %span.number Senate Bill: s3415-111
    %li A bill to amend the Federal Food, Drug, and Cosmetic Act with respect to the importation of prescription drugs and to amend part D of title XVIII of the Social Security Act to require the Secretary of Health and Human Services to negotiate covered part D drug prices on behalf of Medicare beneficiaries.
    %li.summary Fair Pricing for Prescription Drugs Act - Pharmaceutical Market Access and Drug Safety Act of 2010 - Amends the Federal Food, Drug, and Cosmetic Act (FFDCA) to revise provisions governing the importation of prescription drugs. Waives the limitation on importation of prescription drugs that have been exported from the United States. Prohibits the importation of a qualifying drug unless such drug is imported by: (1) a registered importer; or (2) an individual for personal use. Establishes registration conditions for importers and exporters. Requires the Secretary of Health and Human Services (HHS) to inspect places of business, verify chains of custody, inspect facilities, and determine compliance with registration conditions. Sets forth provisions governing the importation of qualifying drugs that are different from U.S. label drugs, including standards for judging such differences. Prohibits manufacturers from: (1) discriminating against registered exporters or importers; (2) causing th...
    %a.open-congress{href: "http://www.opencongress.org/bill/111-s3415/show", target: "_blank"} OpenCongress
    %br/
    / all available fields, note that on some of these fields may be blank depending on the bill
  %section.bill
    %h3
      %a{href: "/bills/hr3019-113"} S.A.F.E. Compounded Drugs Act of 2013
    %span.number House Bill: hr3019-113
    %li To amend chapter V of the Federal Food, Drug, and Cosmetic Act to enhance the requirements for pharmacies that compound drug products.
    %li.summary
      Supporting Access to Formulated and Effective Compounded Drugs Act of 2013 or S.A.F.E. Compounded Drugs Act of 2013 - Amends the Federal Food, Drug, and Cosmetic Act (FFDCA) with respect to the regulation of compounded drugs.
      
      Eliminates authority for compounding pharmacies to compound any drug product that is a copy of a commercially available drug. Prohibits such pharmacies from compounding: (1) any drug product appearing on a list of active ingredients and dosage forms that the Secretary of Health and Human Services (HHS) determines should not be compounded, or (2) in violation of promulgated minimum standards for the safe production of compounded drug products.
      
      Establishes notification requirements before a patient is prescribed, dispensed, or administered a compounded drug, which must include providing the patient a document concerning the availability, safety, and production of such drugs.
      
      Requires a drug product compounded under the FFDCA to be clearly labeled as a “non-FDA ap...
    %a.open-congress{href: "http://www.opencongress.org/bill/113-h3019/show", target: "_blank"} OpenCongress
    %br/
    / all available fields, note that on some of these fields may be blank depending on the bill
  %section.bill
    %h3
      %a{href: "/bills/hr3995-112"} Protecting Consumer Access to Generic Drugs Act of 2012
    %span.number House Bill: hr3995-112
    %li To prohibit brand name drug companies from compensating generic drug companies to delay the entry of a generic drug into the market, and for other purposes.
    %li.summary Protecting Consumer Access to Generic Drugs Act of 2012 - Prohibits, as an unfair and deceptive act or practice and an unfair method of competition in or affecting interstate commerce, any person from being a party to any agreement resolving or settling a patent infringement claim in which: (1) an abbreviated new drug (generic) application filer receives anything of value; and (2) such filer agrees not to research, develop, manufacture, market or sell the generic drug. Excludes a resolution or settlement that includes no more than: (1) the right to market the generic drug before the expiration of the patent or other exclusivity period, or (2) the waiver of a patent infringement claim for damages. Authorizes the Federal Trade Commission (FTC) to exempt agreements in furtherance of market competition and for the benefit of consumers. Amends the Federal Food, Drug, and Cosmetic Act to deem an applicant to have forfeited market exclusivity if the applicant enters into an agreement that viol...
    %a.open-congress{href: "http://www.opencongress.org/bill/112-h3995/show", target: "_blank"} OpenCongress
    %br/
    / all available fields, note that on some of these fields may be blank depending on the bill
  %section.bill
    %h3
      %a{href: "/bills/hr2672-112"} Preserving Access to Orphan Drugs Act of 2011
    %span.number House Bill: hr2672-112
    %li To clarify the orphan drug exception to the annual fee on branded prescription pharmaceutical manufacturers and importers.
    %li.summary Preserving Access to Orphan Drugs Act of 2011 - Amends the Patient Protection and Affordable Care Act (PPACA) to exclude any drug or biological product which is approved or licensed by the Food and Drug Administration (FDA) for marketing solely for one or more rare diseases or conditions from the annual fee on manufacturers or importers with branded prescription drug sales exceeding $5 million. Makes this Act effective as if included in PPACA.
    %a.open-congress{href: "http://www.opencongress.org/bill/112-h2672/show", target: "_blank"} OpenCongress
    %br/
    / all available fields, note that on some of these fields may be blank depending on the bill
  %ul