%div
  %h5
    %a{href: "/districts/151"} Back to District
  %a.start-bill-tour{href: "#"}
    %span.icon-stack
      %i.icon-circle-blank.icon-stack-base
      %i.icon-question
  %h4 Title: Combating Designer Drugs Act of 2011
  %h5 Introduced:
  %h5
    Sponsored By:
    %a{href: "/districts/s839-112?bioguide_id=K000367"} Senator Amy Klobuchar
  %h5 Keywords:
  %ul
    %li
      %a{href: "/bills/find?search=Crime+and+law+enforcement"} Crime and law enforcement
    %li
      %a{href: "/bills/find?search=Drug+trafficking+and+controlled+substances"} Drug trafficking and controlled substances
  %h5 Sources:
  %ul
    %li
      %a{href: "http://www.gpo.gov/fdsys/pkg/BILLS-112s839rs/pdf/BILLS-112s839rs.pdf", target: "_blank"} PDF View
    %li
      %a{href: "http://beta.congress.gov/bill/112th/senate-bill/839", target: "_blank"} Congress
    %li
      %a{href: "http://www.govtrack.us/congress/bills/112/s839", target: "_blank"} Govtrack
    %li
      %a{href: "http://www.opencongress.org/bill/112-s839/show", target: "_blank"} Opencongress
  %h5 Legislative History:
  %ul
    %li Active: True
    %li Active At: 2011-07-28
    %li Awaiting Signature: False
    %li Enacted: False
    %li Vetoed: False
  %h5 Related Bills:
  %ul
  %ul
    %li
      Combating Designer Drugs Act of 2011 - Amends the Controlled Substances Act to include as a Schedule I controlled substance any material, compound, mixture, or preparation which contains:
      
      2-(2,5-Dimethoxy-4-ethylphenyl)ethanamine (2C-E); 2-(2,5-Dimethoxy-4-methylphenyl)ethanamine (2C-D); 2-(4-Chloro-2,5-dimethoxyphenyl)ethanamine (2C-C); 2-(4-Iodo-2,5-dimethoxyphenyl)ethanamine (2C-I); 2-[4-(Ethylthio)-2,5-dimethoxyphenyl]ethanamine (2C-T-2); 2-[4-(Isopropylthio)-2,5-dimethoxyphenyl]ethanamine (2C-T-4); 2-(2,5-Dimethoxyphenyl)ethanamine (2C-H); 2-(2,5-Dimethoxy-4-nitro-phenyl)ethanamine (2C-N); or 2-(2,5-Dimethoxy-4-(n)-propylphenyl)ethanamine (2C-P).
    %li Senate
%div
  %ul