%div
  %h5
    %a{href: "/districts/151"} Back to District
  %a.start-bill-tour{href: "#"}
    %span.icon-stack
      %i.icon-circle-blank.icon-stack-base
      %i.icon-question
  %h4 Title: S.A.F.E. Compounded Drugs Act of 2012
  %h5 Introduced:
  %h5
    Sponsored By:
    %a{href: "/districts/hr6638-112?bioguide_id=D000216"} Representative Rosa DeLauro
  %h5 Keywords:
  %ul
    %li
      %a{href: "/bills/find?search=Administrative+law+and+regulatory+procedures"} Administrative law and regulatory procedures
    %li
      %a{href: "/bills/find?search=Advisory+bodies"} Advisory bodies
    %li
      %a{href: "/bills/find?search=Congressional+oversight"} Congressional oversight
    %li
      %a{href: "/bills/find?search=Consumer+affairs"} Consumer affairs
    %li
      %a{href: "/bills/find?search=Department+of+Health+and+Human+Services"} Department of Health and Human Services
    %li
      %a{href: "/bills/find?search=Drug+safety%2C+medical+device%2C+and+laboratory+regulation"} Drug safety, medical device, and laboratory regulation
    %li
      %a{href: "/bills/find?search=Food+and+Drug+Administration+%28FDA%29"} Food and Drug Administration (FDA)
    %li
      %a{href: "/bills/find?search=Fraud+offenses+and+financial+crimes"} Fraud offenses and financial crimes
    %li
      %a{href: "/bills/find?search=Government+information+and+archives"} Government information and archives
    %li
      %a{href: "/bills/find?search=Government+studies+and+investigations"} Government studies and investigations
    %li
      %a{href: "/bills/find?search=Health"} Health
    %li
      %a{href: "/bills/find?search=Health+information+and+medical+records"} Health information and medical records
    %li
      %a{href: "/bills/find?search=Licensing+and+registrations"} Licensing and registrations
    %li
      %a{href: "/bills/find?search=Medicaid"} Medicaid
    %li
      %a{href: "/bills/find?search=Medicare"} Medicare
    %li
      %a{href: "/bills/find?search=Prescription+drugs"} Prescription drugs
    %li
      %a{href: "/bills/find?search=State+and+local+government+operations"} State and local government operations
    %li
      %a{href: "/bills/find?search=Veterans%27+medical+care"} Veterans' medical care
  %h5 Sources:
  %ul
    %li
      %a{href: "http://www.gpo.gov/fdsys/pkg/BILLS-112hr6638ih/pdf/BILLS-112hr6638ih.pdf", target: "_blank"} PDF View
    %li
      %a{href: "http://beta.congress.gov/bill/112th/house-bill/6638", target: "_blank"} Congress
    %li
      %a{href: "http://www.govtrack.us/congress/bills/112/hr6638", target: "_blank"} Govtrack
    %li
      %a{href: "http://www.opencongress.org/bill/112-h6638/show", target: "_blank"} Opencongress
  %h5 Legislative History:
  %ul
    %li Active: False
    %li Awaiting Signature: False
    %li Enacted: False
    %li Vetoed: False
  %h5 Related Bills:
  %ul
  %ul
    %li
    %li House
