.hero
  %h2 Your voice being heard on issues that you care about
.search.issues
  %form{action: "/bills.html"}
    %label{for: "search"}
    %input{autofocus: "autofocus", placeholder: "Find an Issue", type: "text"}
    %button.search-icon{type: "submit"}
    / %button{type: "submit", value: "Search"}
.search.zipcodes
  %form{action: "/district9.html"}
    %label{for: "zipcode"}
    %input{maxlength: "5", name: "zipcode", pattern: "[0-9]{5}", placeholder: "Zip Code", size: "12", type: "text"}
    %button.search-icon{name: "commit", type: "submit"}
