.hero
  %p Your voice being heard on issues that you care about
.search.issues
  %form{action: "/bills.html"}
    %label{for: "search"}
    %input{autofocus: "autofocus", placeholder: "Find an Issue", type: "text"}
    %input{type: "submit", value: "Search"}
.search.zipcodes
  %form{action: "/districts"}
    %label{for: "zipcode"}
    %input{maxlength: "5", name: "zipcode", pattern: "[0-9]{5}", placeholder: "Zip Code", size: "12", type: "text"}
    %input.button{name: "commit", type: "submit", value: "Go"}
